[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
discord = {py = "*"}
pylint = "*"

[dev-packages]
loguru = "*"
discord = {py = "*"}
pytest-cov = "*"
debugpy = "*"
pytest = "*"
typing-extensions = "*"
pylint = "*"
pytest-asyncio = "*"
mock = "*"
pytest-mock = "*"

[requires]
python_version = "3"
